## Habitable Exoplanets

Introduction paragraph

&nbsp;

#### Habitable KOI from the Habitable Exoplanet Catalog

In [1]:
import numpy as np
import pandas as pd

In [2]:
habitableKOI = pd.read_csv('habitableKOI.csv')
habitableKOI.head()

,Name,Type,Mass (ME),Radius (RE),Flux (SE),Teq (K),Period (days),Distance (ly),ESI
0,Kepler-395 c,M-Warm Terran,6.1 - 1.8 - 0.8,1.2,1.15,264,35.0,889,0.91
1,Kepler-438 b,M-Warm Terran,2.4 - 0.8 - 0.4,1.0,1.31,273,35.2,500,0.90
2,KOI-7179.01*,G-Warm Terran,4.9 - 1.5 - 0.7,1.2,1.30,272,407.1,1911,0.89
3,KOI-3010.01*,K-Warm Superterran,16.0 - 4.0 - 1.7,1.6,0.93,250,60.9,1142,0.84
4,Kepler-442 b,K-Warm Superterran,16.0 - 4.0 - 1.7,1.6,1.08,260,112.3,1366,0.84

In [3]:
habitableKOI.shape

(51, 9)

&nbsp;

#### All KOI from the Exoplanet Archive

In [4]:
KOI = pd.read_csv('KOI.csv')
KOI.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_vet_stat,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_smass,koi_smass_err1,koi_smass_err2,koi_sage,koi_sage_err1,koi_sage_err2,koi_sparprov,ra,dec,koi_kepmag
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,Active,CANDIDATE,1.000,0,0,0,...,0.919,0.052,-0.046,NaN,NaN,NaN,q1_q17_dr25_stellar,291.93423,48.141651,15.347
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,Active,CANDIDATE,0.969,0,0,0,...,0.919,0.052,-0.046,NaN,NaN,NaN,q1_q17_dr25_stellar,291.93423,48.141651,15.347
2,10811496,K00753.01,NaN,CANDIDATE,Active,CANDIDATE,0.000,0,0,0,...,0.961,0.110,-0.121,NaN,NaN,NaN,q1_q17_dr25_stellar,297.00482,48.134129,15.436
3,10848459,K00754.01,NaN,FALSE POSITIVE,Active,FALSE POSITIVE,0.000,0,1,0,...,0.836,0.093,-0.077,NaN,NaN,NaN,q1_q17_dr25_stellar,285.53461,48.285210,15.597
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,Active,CANDIDATE,1.000,0,0,0,...,1.095,0.151,-0.136,NaN,NaN,NaN,q1_q17_dr25_stellar,288.75488,48.226200,15.509

In [5]:
KOI.shape

(9564, 78)

&nbsp;

#### Combining the data

In [6]:
habitable_names = habitableKOI['Name']
habitable_names

0     Kepler-395 c
1     Kepler-438 b
2     KOI-7179.01*
3     KOI-3010.01*
4     Kepler-442 b
5      KOI-463.01*
6     KOI-4550.01*
7      Kepler-62 e
8     KOI-4036.01*
9     KOI-6676.01*
10    Kepler-155 c
11    KOI-5475.01*
12    KOI-5856.01*
13    Kepler-235 e
14    Kepler-436 b
15    KOI-7554.01*
16    KOI-5236.01*
17    KOI-3282.01*
18     Kepler-69 c
19    KOI-4450.01*
20    KOI-4103.01*
21    KOI-4054.01*
22    KOI-5202.01*
23    KOI-7587.01*
24    KOI-1871.01*
25     Kepler-22 b
26    Kepler-443 b
27    KOI-2020.01*
28     Kepler-26 e
29     KOI-854.01*
30     Kepler-61 b
31    KOI-6343.01*
32    KOI-1876.01*
33    KOI-7470.01*
34    KOI-5276.01*
35    KOI-7345.01*
36    KOI-4016.01*
37    KOI-2834.01*
38    KOI-4458.01*
39    Kepler-439 b
40    KOI-6734.01*
41    KOI-7136.01*
42    KOI-3946.01*
43    KOI-7040.01*
44    Kepler-309 c
45    Kepler-441 b
46    KOI-2770.01*
47    Kepler-186 f
48    Kepler-174 d
49    KOI-4356.01*
50     KOI-959.01*
Name: Name, dtype: object

#### Remove the * character that indicates it is a planetary candidate

In [7]:
habitable_names = habitable_names.tolist()
habitable_names_processed = []
for name in habitable_names:
    if name.endswith('*'):
        habitable_names_processed.append(name[:-1])
    else:
        habitable_names_processed.append(name)
habitable_names_processed

['Kepler-395 c',
 'Kepler-438 b',
 'KOI-7179.01',
 'KOI-3010.01',
 'Kepler-442 b',
 'KOI-463.01',
 'KOI-4550.01',
 'Kepler-62 e',
 'KOI-4036.01',
 'KOI-6676.01',
 'Kepler-155 c',
 'KOI-5475.01',
 'KOI-5856.01',
 'Kepler-235 e',
 'Kepler-436 b',
 'KOI-7554.01',
 'KOI-5236.01',
 'KOI-3282.01',
 'Kepler-69 c',
 'KOI-4450.01',
 'KOI-4103.01',
 'KOI-4054.01',
 'KOI-5202.01',
 'KOI-7587.01',
 'KOI-1871.01',
 'Kepler-22 b',
 'Kepler-443 b',
 'KOI-2020.01',
 'Kepler-26 e',
 'KOI-854.01',
 'Kepler-61 b',
 'KOI-6343.01',
 'KOI-1876.01',
 'KOI-7470.01',
 'KOI-5276.01',
 'KOI-7345.01',
 'KOI-4016.01',
 'KOI-2834.01',
 'KOI-4458.01',
 'Kepler-439 b',
 'KOI-6734.01',
 'KOI-7136.01',
 'KOI-3946.01',
 'KOI-7040.01',
 'Kepler-309 c',
 'Kepler-441 b',
 'KOI-2770.01',
 'Kepler-186 f',
 'Kepler-174 d',
 'KOI-4356.01',
 'KOI-959.01']

In [8]:
KOI['kepler_name'].isin(habitable_names_processed).value_counts()

False    9547
True       17
Name: kepler_name, dtype: int64

In [9]:
new_habitable_names = []
for name in habitable_names_processed:
    if name.startswith('KOI-'):
        name = name[4:]
        if len(name) == 6:
            name = 'K00' + name
        if len(name) == 7: 
            name = 'K0' + name
        new_habitable_names.append(name)
    else:
        new_habitable_names.append(name)
new_habitable_names

['Kepler-395 c',
 'Kepler-438 b',
 'K07179.01',
 'K03010.01',
 'Kepler-442 b',
 'K00463.01',
 'K04550.01',
 'Kepler-62 e',
 'K04036.01',
 'K06676.01',
 'Kepler-155 c',
 'K05475.01',
 'K05856.01',
 'Kepler-235 e',
 'Kepler-436 b',
 'K07554.01',
 'K05236.01',
 'K03282.01',
 'Kepler-69 c',
 'K04450.01',
 'K04103.01',
 'K04054.01',
 'K05202.01',
 'K07587.01',
 'K01871.01',
 'Kepler-22 b',
 'Kepler-443 b',
 'K02020.01',
 'Kepler-26 e',
 'K00854.01',
 'Kepler-61 b',
 'K06343.01',
 'K01876.01',
 'K07470.01',
 'K05276.01',
 'K07345.01',
 'K04016.01',
 'K02834.01',
 'K04458.01',
 'Kepler-439 b',
 'K06734.01',
 'K07136.01',
 'K03946.01',
 'K07040.01',
 'Kepler-309 c',
 'Kepler-441 b',
 'K02770.01',
 'Kepler-186 f',
 'Kepler-174 d',
 'K04356.01',
 'K00959.01']

In [10]:
KOI['kepler_name'].isin(new_habitable_names).value_counts()

False    9547
True       17
Name: kepler_name, dtype: int64

In [11]:
KOI['kepoi_name'].isin(new_habitable_names).value_counts()

False    9530
True       34
Name: kepoi_name, dtype: int64

In [12]:
habitableKOI = KOI[(KOI['kepler_name'].isin(new_habitable_names)) | (KOI['kepoi_name'].isin(new_habitable_names))]
habitableKOI.shape

(51, 78)

In [13]:
habitableKOI.head(10)

,kepid,kepoi_name,kepler_name,koi_disposition,koi_vet_stat,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_smass,koi_smass_err1,koi_smass_err2,koi_sage,koi_sage_err1,koi_sage_err2,koi_sparprov,ra,dec,koi_kepmag
86,4139816,K00812.03,Kepler-235 e,CONFIRMED,Active,CANDIDATE,1.000,0,0,0,...,0.502,0.031,-0.038,NaN,NaN,NaN,q1_q17_dr25_stellar,286.07913,39.278320,15.954
170,6435936,K00854.01,Kepler-705 b,CONFIRMED,Active,CANDIDATE,0.996,0,0,0,...,0.503,0.036,-0.054,NaN,NaN,NaN,q1_q17_dr25_stellar,289.50848,41.812119,15.849
633,10002261,K00959.01,NaN,FALSE POSITIVE,Active,FALSE POSITIVE,0.729,0,1,0,...,0.094,0.000,0.000,NaN,NaN,NaN,q1_q17_dr25_stellar,287.55972,46.957085,13.102
667,6960913,K01361.01,Kepler-61 b,CONFIRMED,Active,CANDIDATE,0.998,0,0,0,...,0.595,0.036,-0.029,NaN,NaN,NaN,q1_q17_dr25_stellar,295.30450,42.475288,14.995
1290,8692861,K00172.02,Kepler-69 c,CONFIRMED,Active,CANDIDATE,0.693,0,0,0,...,0.813,0.072,-0.036,NaN,NaN,NaN,q1_q17_dr25_stellar,293.26093,44.868889,13.749
1300,10027323,K01596.02,Kepler-309 c,CONFIRMED,Active,CANDIDATE,0.738,0,0,0,...,0.518,0.029,-0.044,NaN,NaN,NaN,q1_q17_dr25_stellar,297.50986,46.961262,15.157
1577,9758089,K01871.01,NaN,CANDIDATE,Active,CANDIDATE,0.998,0,0,0,...,0.748,0.027,-0.043,NaN,NaN,NaN,q1_q17_dr25_stellar,285.25366,46.582191,14.897
1590,9349482,K02020.01,Kepler-1058 b,CONFIRMED,Active,CANDIDATE,0.996,0,0,0,...,0.538,0.045,-0.034,NaN,NaN,NaN,q1_q17_dr25_stellar,294.59579,45.875031,15.498
1599,11622600,K01876.01,Kepler-991 b,CONFIRMED,Active,CANDIDATE,0.854,0,0,0,...,0.584,0.031,-0.027,NaN,NaN,NaN,q1_q17_dr25_stellar,297.09067,49.626572,15.187
2059,8890150,K02650.01,Kepler-395 c,CONFIRMED,Active,CANDIDATE,0.985,0,0,0,...,0.526,0.035,-0.042,NaN,NaN,NaN,q1_q17_dr25_stellar,293.51108,45.136589,15.987

In [14]:
list(habitableKOI)

['kepid',
 'kepoi_name',
 'kepler_name',
 'koi_disposition',
 'koi_vet_stat',
 'koi_pdisposition',
 'koi_score',
 'koi_fpflag_nt',
 'koi_fpflag_ss',
 'koi_fpflag_co',
 'koi_fpflag_ec',
 'koi_period',
 'koi_period_err1',
 'koi_period_err2',
 'koi_time0bk',
 'koi_time0bk_err1',
 'koi_time0bk_err2',
 'koi_time0',
 'koi_time0_err1',
 'koi_time0_err2',
 'koi_eccen',
 'koi_eccen_err1',
 'koi_eccen_err2',
 'koi_longp',
 'koi_longp_err1',
 'koi_longp_err2',
 'koi_impact',
 'koi_impact_err1',
 'koi_impact_err2',
 'koi_duration',
 'koi_duration_err1',
 'koi_duration_err2',
 'koi_ingress',
 'koi_ingress_err1',
 'koi_ingress_err2',
 'koi_depth',
 'koi_depth_err1',
 'koi_depth_err2',
 'koi_srho',
 'koi_srho_err1',
 'koi_srho_err2',
 'koi_prad',
 'koi_prad_err1',
 'koi_prad_err2',
 'koi_sma',
 'koi_sma_err1',
 'koi_sma_err2',
 'koi_teq',
 'koi_teq_err1',
 'koi_teq_err2',
 'koi_insol',
 'koi_insol_err1',
 'koi_insol_err2',
 'koi_model_snr',
 'koi_tce_plnt_num',
 'koi_tce_delivname',
 'koi_steff',
 'koi_steff_err1',
 'koi_steff_err2',
 'koi_slogg',
 'koi_slogg_err1',
 'koi_slogg_err2',
 'koi_smet',
 'koi_smet_err1',
 'koi_smet_err2',
 'koi_srad',
 'koi_srad_err1',
 'koi_srad_err2',
 'koi_smass',
 'koi_smass_err1',
 'koi_smass_err2',
 'koi_sage',
 'koi_sage_err1',
 'koi_sage_err2',
 'koi_sparprov',
 'ra',
 'dec',
 'koi_kepmag']

In [16]:
filteredKOI = habitableKOI.filter(['koi_steff', 'koi_slogg', 'koi_smet', 'koi_srad', 'koi_smass', 'koi_sage'])
filteredKOI.shape

(51, 6)

In [18]:
filteredKOI.head()

      koi_steff  koi_slogg  koi_smet  koi_srad  koi_smass  koi_sage
86       3950.0      4.754     -0.46     0.493      0.502       NaN
170      3593.0      4.757      0.26     0.491      0.503       NaN
633      2661.0      5.283      0.00     0.116      0.094       NaN
667      4016.0      4.658      0.02     0.599      0.595       NaN
1290     5637.0      4.399     -0.30     0.943      0.813       NaN

In [21]:
filteredKOI['has_habitable'] = 1
filteredKOI.head()

,koi_steff,koi_slogg,koi_smet,koi_srad,koi_smass,koi_sage,has_habitable
86,3950.0,4.754,-0.46,0.493,0.502,NaN,1
170,3593.0,4.757,0.26,0.491,0.503,NaN,1
633,2661.0,5.283,0.00,0.116,0.094,NaN,1
667,4016.0,4.658,0.02,0.599,0.595,NaN,1
1290,5637.0,4.399,-0.30,0.943,0.813,NaN,1

In [24]:
filteredKOI.describe()

,koi_steff,koi_slogg,koi_smet,koi_srad,koi_smass,koi_sage,has_habitable
count,51.000000,51.000000,51.000000,51.000000,51.000000,0.0,51.0
mean,4895.058824,4.581137,-0.170588,0.786784,0.754647,NaN,1.0
std,917.552296,0.228058,0.351280,0.424417,0.254537,NaN,0.0
min,2661.000000,3.629000,-1.460000,0.116000,0.094000,NaN,1.0
25%,4166.000000,4.486500,-0.340000,0.542500,0.555500,NaN,1.0
50%,4821.000000,4.615000,-0.100000,0.701000,0.748000,NaN,1.0
75%,5627.500000,4.709500,0.020000,0.941500,0.916000,NaN,1.0
max,6553.000000,5.283000,0.460000,3.204000,1.592000,NaN,1.0

In [35]:
filteredKOI['nconfp'] = 1
filteredKOI.describe()

,koi_steff,koi_slogg,koi_smet,koi_srad,koi_smass,has_habitable,nconfp
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.0,51.0
mean,4895.058824,4.581137,-0.170588,0.786784,0.754647,1.0,1.0
std,917.552296,0.228058,0.351280,0.424417,0.254537,0.0,0.0
min,2661.000000,3.629000,-1.460000,0.116000,0.094000,1.0,1.0
25%,4166.000000,4.486500,-0.340000,0.542500,0.555500,1.0,1.0
50%,4821.000000,4.615000,-0.100000,0.701000,0.748000,1.0,1.0
75%,5627.500000,4.709500,0.020000,0.941500,0.916000,1.0,1.0
max,6553.000000,5.283000,0.460000,3.204000,1.592000,1.0,1.0

In [37]:
filteredKOI = filteredKOI[['koi_steff', 'koi_slogg', 'koi_smet', 'koi_srad', 'koi_smass', 'nconfp', 'has_habitable']]
filteredKOI.head()

,koi_steff,koi_slogg,koi_smet,koi_srad,koi_smass,nconfp,has_habitable
86,3950.0,4.754,-0.46,0.493,0.502,1,1
170,3593.0,4.757,0.26,0.491,0.503,1,1
633,2661.0,5.283,0.00,0.116,0.094,1,1
667,4016.0,4.658,0.02,0.599,0.595,1,1
1290,5637.0,4.399,-0.30,0.943,0.813,1,1

In [38]:
habitable = filteredKOI
habitable.describe()

,koi_steff,koi_slogg,koi_smet,koi_srad,koi_smass,nconfp,has_habitable
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.0,51.0
mean,4895.058824,4.581137,-0.170588,0.786784,0.754647,1.0,1.0
std,917.552296,0.228058,0.351280,0.424417,0.254537,0.0,0.0
min,2661.000000,3.629000,-1.460000,0.116000,0.094000,1.0,1.0
25%,4166.000000,4.486500,-0.340000,0.542500,0.555500,1.0,1.0
50%,4821.000000,4.615000,-0.100000,0.701000,0.748000,1.0,1.0
75%,5627.500000,4.709500,0.020000,0.941500,0.916000,1.0,1.0
max,6553.000000,5.283000,0.460000,3.204000,1.592000,1.0,1.0

In [40]:
habitable.to_csv('habitable.csv', index=False)